@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  font-style: normal;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

#root {
  background: hsl(210 20% 97%);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.recharts-wrapper .recharts-surface:focus,
.recharts-wrapper .recharts-surface:hover {
  outline: none !important;
}
